.about-wrapper {
  height: auto;
  .about-banner-img {
    width: 100%;
    height: 360px;
    margin-top: 60px;
  }
  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f8f7f4;
    .section {
      display: flex;
      flex-direction: column;
      margin-top: 35px;
      width: 1000px;
      .content-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 64px;
        .logo {
          margin-top: 50px;
          width: 110px;
        }
        .content {
          width: 1020px;
          margin-top: 20px;
          font-size: 16px;
          font-weight: 400;
          color: #3f3f3f;
          line-height: 24px;
        }
        .content-item {
          display: flex;
          margin-top: 20px;
          .item-icon {
            width: 33px;
            height: 41px;
          }
          .right {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            .title {
              margin-top: 6px;
              font-size: 14px;
              font-weight: 400;
              color: #3f3f3f;
              line-height: 20px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
    .about-map {
      width: 1000px;
      height: 364px;
      margin: 42px 0 42px 120px;
    }
  }
}
