.teambuilding-feature {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .theme {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 16px;
      font-weight: 500;
      color: #3f3f3f;
      line-height: 14px;
    }
    .img {
      margin-top: 10px;
      width: 800px;
      height: 294px;
    }
    .theme-desc {
      width: 800px;
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      color: #3f3f3f;
      line-height: 20px;
    }
  }
  .place {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 16px;
      font-weight: 500;
      color: #3f3f3f;
      line-height: 14px;
    }
    .img-wrapper {
      margin-top: 16px;
      display: flex;
      flex-direction: row;
      .img {
        width: 392px;
        height: 294px;
        margin-left: 16px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
    .place-dec {
      display: flex;
      flex-direction: column;
      .sub-title {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #3f3f3f;
        line-height: 14px;
      }
      .dec {
        width: 800px;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #3f3f3f;
        line-height: 20px;
      }
    }
  }
}
