.detail-content-wrapper {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planner-introduce {
  padding: 16px 0;
  display: flex;
  border-bottom: 1px dotted #c7c7c7;
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .img {
      width: 120px;
      height: 120px;
    }
    .name {
      margin-top: 8px;
      color: #343434;
      font-weight: 500;
      font-size: 14px;
    }
    .position {
      margin-top: 8px;
      color: #8f8f8f;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .right {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .desc {
      width: 600px;
      font-size: 14px;
      color: #3f3f3f;
      line-height: 20px;
    }
    .rate {
    }
  }
}
