@import '../../../global.less';

.teambuilding-detail {
  height: auto;
}

.detail-card-warppper {
  width: 100%;
  margin-top: 60px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  .card {
    display: flex;
    .left {
      .img {
        width: 240px;
        height: 100%;
      }
    }
    .right {
      padding: 0 15px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      .top {
        .title {
          width: 600px;
          margin-top: 10px;
          font-size: 20px;
          font-weight: 500;
          color: #343434;
          line-height: 18px;
          word-wrap: break-word;
          word-break: normal;
        }
        .tag-wrapper {
          margin-top: 10px;
          display: flex;

          .tag {
            display: flex;
            align-items: center;
            margin-left: 12px;
            font-size: 12px;
            font-weight: 400;
            color: @brand-primary;
            line-height: 12px;
            height: 16px;
            background: #ffb4a9;
            border-radius: 2px;
            padding: 2px 4px;
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .desc {
          margin-top: 10px;
          font-size: 12px;
          font-weight: 400;
          color: #343434;
          line-height: 17px;
        }
        .money-wrapper {
          display: flex;
          .money {
            font-size: 24px;
            color: @brand-primary;
            font-weight: 500;
          }
          .unit {
            margin-top: 10px;
            margin-left: 8px;
            font-size: 12px;
            color: #343434;
          }
        }
      }

      .footer {
        margin-top: 10px;
        display: flex;
        .action {
          width: 400px;
          height: 48px;
          background: #e94e38;
          border-radius: 5px;
          border: white 1px none;
          font-size: 18px;
          font-weight: 500;
          color: #ffffff;
          line-height: 25px;
          &:focus {
            outline-color: @brand-primary;
          }
        }
      }
    }
  }
}

.teambuild-sub-title {
  display: flex;
  align-items: center;
  .line {
    height: 20px;
    width: 4px;
    background: @brand-primary;
    border-radius: 2px;
  }
  .sub-title {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #3f3f3f;
    line-height: 14px;
  }
}
